[Unit]
Description=LD47 GAME Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/ubuntu/LD47/.build/release/LD47 game 192.168.1.211:9090 192.168.1.212:9090
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
